.locationList {
  height: 85vh;
  overflow: auto;
  background-color: #FFF;
}

.forecastTitle{
  color: #888;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
}

@media (max-width: 64em) {
  .locationList {
    max-height: 40vh;
    overflow: auto;
    margin-bottom: 20px;
  }
}